/* @keyframes example {
  from {opacity: 100%;}
  to {opacity: 0%;}
} */


@keyframes reveal {
  from {left: 0%;}
  to {left: 100%;}
  }

html {
  box-sizing: border-box;
}
body {
  background-color: white;
  height: 100%;
  font-family: 'Spartan';
}

a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

a:hover {
  color: #5bc4f1;
}

.fml-link {
  color: #5bc4f1;
}

.fml-link:hover {
  color: #2c83a8;
}


/* Navigation CSS */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5bc4f1;
  padding: 1px 12px;
  position: relative;
  height: 100px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Love Ya Like A Sister';
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  padding: 15px 25px;
  font-size: 22px;
  margin: 20px;
  position: relative;
  display: inline-block;
  color: white;
  padding: 10px;
  background-color: #5bc4f1;
  border-bottom: 5px solid white;
}

.nav-link:hover {
  color: #5bc4f1;
  background-color: white;
  transition: ease-out 0.1s;
}

.nav-link:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.logo {
  height: 100px;
  width: 100px;
}

.logo:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}

/* HomePage CSS */

.overlay-container {
  position: relative;
  width: 100%;

}

.hero-image-opactiy-bar {
  display: flex;
  width: 100%;
}

.home-image{
  top: 0;
  height: 10%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-page-headline {
  background: rgba(0, 0, 0, 0.425);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: -2%;
  bottom: 80%;
  padding-bottom: 30%;
  margin-top: 10%;
  flex: 1;
}


.home-page-headline {
  position: absolute;
  padding-bottom: 10%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Love Ya Like A Sister';
  color: white;
  font-size: 3em;
  flex: 2;
}

.home-page-ptag {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'courgette';
  font-size: 2em;
  color: white;
  flex: 1;
}

.register-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: rgb(32, 40, 41);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.button:hover {
  background-color: white;
  color: black;

}




/* Who are we CSS */ 

.whoarewe {
  background: white;
}


/* About CSS */

.about {
  text-align: center;
  background: white;
}

.group-photo-container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: left;
  text-decoration: none;
  margin-bottom: 10%;
  margin-left: 3%;
}

.group-photo1 {
  width: 50%;
  height: auto;
  border-style: solid;
  border-color: #5bc4f1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px grey;
}

.overlay1 {
  position: absolute; 
  bottom: 0; 
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
  top: 0.5%;
  bottom: 0.5%;
  left: 0.2%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.overlay1:hover {
  opacity: 1;
}

.group-logo {
  display: block;
  width: 70%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  box-shadow: 5px 10px 18px grey;
  border-color: #5bc4f1;
  border-style: solid;
}

.blurb-container {
  width: 70%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.blurb-headline {
  font-family: 'Courgette';
  font-size: 40px;
  text-align: center;
}

.blurb-text {
  font-size: 1.5em;
  margin-top: 15%;
}

.whoarewe-blurb-text {
  font-size: 1.5em;
  width: 100%;
}

.whoarewe-page-title {
  font-family: 'courgette';
  color: rgb(55, 53, 53);
  font-size: 30px;
  text-align: center;
}

.link-to-about-us {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #5bc4f1;
  font-family: 'Courgette';
  font-size: 1em;
  margin-top: 20%;
}

.link-to-about-us:hover {
  color: #5bc4f1;
}

.body-content {
  font-size: 20px;
}


/* Howitworks CSS */

.Howitworks {
  text-align: center;
  background-color:rgba(187, 186, 186, 0.425) ;
}

.hiw-main-container1 {
  display: flex;
  align-items: flex-start;
}

.hiw-container1 {
  flex: 2;
  
}

.hiw-container2 {
  flex: 2;
}


.hiw-container3 {
  flex: 2;
}

.hiw-main-container2 {
  display: flex;
}

.hiw-container1 {
  flex: 2;
}

.hiw-container2 {
  flex: 2;
}


.hiw-container3 {
  flex: 2;
}


.hiw-logo {
  display: block;
  width: 70%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.hiw-logo1 {
  display: block;
  width: 70%;
  max-width: 350px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MoreAboutUs CSS */

.about-group-photo-container {
  margin: auto  ;
  
}

.about-group-photo1 {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #5bc4f1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px grey;
}


.group-overlay:hover {
  opacity: 1;
}


/* Some dogs CSS */

.some-dogs {
  text-align: center;
  /* background-color:rgba(187, 186, 186, 0.425) ; */
}
/* Login CSS */

.sign-up-links {
  text-align: center;
}

.sign-up-button {
  margin: 15px;
  text-decoration: none;
  color: #5bc4f1;
  font-size: 1em;
}

.sign-up-button:hover {
  margin: 15px;
  text-decoration: none;
  color: #2c83a8;
}


/* Profile CSS */

.page-title {
  font-family: 'courgette';
  margin: 3%;
  color: rgb(55, 53, 53);
  font-size: 50px;
  text-align: center;
}

.profile-container {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 3%;
  text-align: center;
  background-color: rgba(151, 163, 142, 0.4);
  border-radius: 3%;
  padding: 1%;
  box-shadow: 5px 10px 18px grey;
}

.profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-width: 5px;
  padding: 4%;
}

.profile-heading {
  font-size: x-large;
  padding: 3%;
}

.profile-info {
  text-align: left;
}

.dog-align {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.doglist {
  height: 250px;
  width: 250px;
  border-radius: 3%;
  padding: 1%;
  margin: 1%;
  display: inline-block;
  text-align: center;
  justify-content: center;
  background-color: rgba(151, 163, 142, 0.4);
  box-shadow: 5px 10px 18px grey;
}

.doglist:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}

.dogphoto {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.dogprofiledisplay {
  text-align: center;
}

.form-container {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 3%;
  text-align: center;
  padding: 1%;
  background-color: rgba(151, 163, 142, 0.4);
  box-shadow: 5px 10px 18px grey;
  border-radius: 3%;
}

.form-container:hover .logoform {
  transform: rotate(30deg);
}

.form {
  color: black;
}

label {
  font-size: medium;
  text-align: left;
}

.logoform {
  height: 100px;
  width: 100px;
  transition: transform 0.3s ease-in-out;
}

.logoform:hover {
  transform: rotate(30deg);
  transform: rotate(30deg);
}

.input {
  width: 60%;
  background-color: white;
  color: black;
  font-size: 20px;
  margin: 8px 0;
  border: none;
  border-style: solid;
  border-color: white;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  box-shadow: 5px 5px 5px grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 10px;
  padding: 1%;
}

.input:hover {
  background-color: white;
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  color: black;
}

h1 {
  text-align: center;
}

.footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #5bc4f1;
  text-align: center;
}
.fa {
  padding: 15px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #5bc4f1;
  color: white;
}

.fa-twitter {
  background: #5bc4f1;
  color: white;
}

.fa-instagram {
  background: #5bc4f1;
  color: white;
}

.move {
  font-family: 'Montserrat Subrayada', sans-serif;
  background-color: rgb(32, 40, 41);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
