body {
    background-color:whitesmoke ;
}

.header {
    width: 100%;
    background:#999;
    text-align: center;
    padding: 20px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
    text-align: center;
}

.doglist {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 1%;
    display: inline-block;
    text-align: center;
    justify-content: center;

}

.dogprofilephoto {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    padding: 2%;

}

.dogphoto {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  
}

.dogprofiledisplay {
    text-align: center;

}
